@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

body {
  padding: 0;
}

* {

  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden !important;
  /* СѓР±РёСЂР°РµС‚ РіРѕСЂРёР·РѕРЅС‚Р°Р»СЊРЅС‹Р№ СЃРєСЂРѕР»Р» */
}

body {

  font-family: 'poppins', sans-serif;
  font-weight: 400;
  color: #fff;

}

a {
  display: block;
  text-decoration: none;
}

form {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  all: unset;
  /* пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅ */
  box-sizing: border-box;
}

button {
  cursor: pointer;
  /* пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ "пїЅпїЅпїЅпїЅ" пїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ */
}

img {

  max-width: 100%;
}


._container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}



/* ----------------------------------------------------------  Home page  ------------------------------------------------------------------------------------*/

.wrapper {

  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);
  /* РіСЂР°РґРёРµРЅС‚ */
  width: 100%;

}

.container {

  width: 100%;
  margin: 0 auto;
}



header {

  padding: 50px 0;

}

header .logo {

  text-transform: uppercase;
  font-size: 39px;
  font-weight: 800;
}

.nav {

  float: right;
  width: 50%;
  z-index: 2;
  position: relative;

}

header nav ul {

  list-style: none;
  display: flex;
  justify-content: space-between;

}

header nav ul li {

  display: inline-block;

}

header nav ul li a {

  color: white;
  transition: opacity 0.5s ease;
}

header nav ul li:not(.btn):not(.active) a:hover {

  opacity: 0.5;
}


header nav ul li.btn a {

  padding: 9px 17px;
  background: #FA9021;
  border-radius: 5px;
  transition: background-color 0.5s;

}

header nav ul li.btn a:hover {

  background: #A52A2A;

}

header nav ul li.active::after {

  content: '';
  /* РѕР·РЅР°С‡Р°РµС‚ С‡С‚Рѕ СЌС‚Рѕ РїСѓСЃС‚РѕР№ СЌР»РµРјРµРЅС‚, СЃРєРѕСЂРµРµ С„РёРіСЂСѓР° */
  width: 50px;
  height: 5px;
  background: #FA9021;
  display: block;

  position: relative;
  /* РёР»Рё absolute, РµСЃР»Рё РЅСѓР¶РµРЅ РѕС‚РЅРѕСЃРёС‚РµР»СЊРЅРѕ СЂРѕРґРёС‚РµР»СЏ */
  top: 5px;
  /* СЃРґРІРёРі РІРЅРёР· */
  right: 15px;
  /* СЃРґРІРёРі РІРїСЂР°РІРѕ */

}

.hero-container {
  position: relative;
  z-index: 1;
}

.hero-info {

  max-width: 527px;
  width: 100%;
  height: 512px;
  padding-top: 70px;



}

.hero-info h2 {

  color: #E87D0E;
  font-size: 20px;
  font-weight: 600;

}

.hero-info h1 {

  color: #FFFFFF;
  font-size: 50px;
  font-weight: 600;

}

.hero-info p {

  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin: 30px auto;
  line-height: 170%;
  /* РјРµР¶СЃС‚СЂРѕС‡РЅС‹Р№ РёРЅС‚РµСЂРІР°Р» */

}

.hero-info .btn {

  color: #FFFFFF;
  font-size: 16px;
  background: linear-gradient(180deg, rgba(250, 131, 5, 1) 0%, rgba(251, 158, 60, 1) 100%);
  border-radius: 30px;
  padding: 15px 30px;
  border: 0;
  transition: all 500ms ease;
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */

}


/* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */

.hero-info .btn:hover {

  cursor: pointer;
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */
  transform: scale(1.1);
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */

}

.hero-container img {

  position: absolute;
  top: -150px;
  right: -200px;
}

.container-tranding {
  padding-top: 50px;
}


/* РЎРµРєС†РёСЏ СЃ РёРіСЂР°РјРё */

.container-tranding h3 {


  font-weight: 600;
  font-size: 31px;
  color: #FFFFFF;
}

.container-tranding .see-all {

  color: #fff;
  background: #25211D;
  border-radius: 5px;
  padding: 12px 23px;
  float: right;
  display: block;
  transition: all 500ms ease;

}

.container-tranding .see-all:hover {

  cursor: pointer;
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */
  transform: scale(1.1);
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */
}

.games {

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;


}

.container-tranding .games span {

  display: block;
  text-align: center;
  margin-top: 20px;

}

.container-tranding .games span img {

  position: relative;
  top: 5px;
  margin-right: 7px;
}


.container-text {

  margin: 0 auto;
  padding: 50px 0;
  font-size: 35px;
  font-weight: 600;
  max-width: 800px;
  width: 100%;
  text-align: center;
}


.banner h3 {

  font-size: 30px;
  color: #FFFFFF;
  font-weight: 600;
  margin-top: 50px;
}

.banner p {

  max-width: 600px;
  width: 100%;
  line-height: 170%;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
}

.banner img {

  width: 100%;
  margin-top: 30px;
  margin-bottom: 150px;

}

.features {
  width: 100%;
  background-image: url('img/back.png');
  background-size: cover;
  background-attachment: fixed;
  /* СЃРѕР·РґР°РµС‚ СЌС„С„РµРєС‚ РїР°СЂР°Р»Р°РєСЃР° */
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
}

.features-container h1 {

  max-width: 850px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  line-height: 2;

}

.features-container p {

  max-width: 850px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  line-height: 1.9;

}

.features .images-container {
  display: flex;
  flex-wrap: wrap;
  /* СЂР°Р·СЂРµС€Р°РµРј РїРµСЂРµРЅРѕСЃ Р±Р»РѕРєРѕРІ РЅР° РЅРѕРІСѓСЋ СЃС‚СЂРѕРєСѓ */
  gap: 10px;
  /* СЂР°СЃСЃС‚РѕСЏРЅРёРµ РјРµР¶РґСѓ Р±Р»РѕРєР°РјРё */
  justify-content: center;
  /* РІС‹СЂР°РІРЅРёРІР°РЅРёРµ РїРѕ С†РµРЅС‚СЂСѓ */
}

.features .images-container .block {

  text-align: center;
  width: 20%;
  /* РїРѕ С€РёСЂРёРЅРµ РїСЂРѕРёСЃС…РѕРґРёС‚ РїРµСЂРµС…РѕРґ РЅР° СЃР»РµРґСѓСЋС‰СѓСЋ СЃС‚СЂРѕРєСѓ, РІ РґР°РЅРЅРѕР№ СЃРёС‚СѓР°С†РёРё С‚Р°Рє РјРѕР¶РЅРѕ РґРµР»Р°С‚СЊ С‚Р°Рє РєР°Рє РєР°СЂС‚РЅРєРё СЂР°Р·РјРµСЂРѕРј РѕРґРёРЅР°РєРѕРІС‹Рµ */
  margin: 30px 2%;
}

.features .images-container img {

  margin-bottom: 30px;
}

.features .images-container p {

  margin-bottom: 30px;
}

.wrapper2 {

  background: #090300;
  background: linear-gradient(180deg, rgba(9, 3, 0, 1) 0%, rgba(9, 3, 0, 1) 100%);
  width: 100%;
  padding-bottom: 50px;
  /* РѕС‚СЃС‚СѓРї СЃРЅРёР·Сѓ */
}

.wrapper2 .info-block {


  padding-top: 170px;
}

.wrapper2 .info-block h1 {

  text-align: center;
  margin-bottom: 30px;

}

.wrapper2 .info-block p {

  text-align: center;
  line-height: 1.7;
  padding-bottom: 90px;
  font-weight: 400;
}

.images-block1 {

  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 50px auto;
  flex-wrap: wrap;
}

.images-block2 {

  max-width: 1300px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 50px auto;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.wrapper2 a {
  width: 60px;
  color: #fff;
  background: #25211D;
  border-radius: 5px;
  padding: 12px 23px;
  display: block;
  text-align: center;
  /* С†РµРЅС‚СЂРёСЂРѕРІР°РЅРёРµ С‚РµРєСЃС‚Р° РІ Р±Р»РѕРєРµ */
  margin: 0 auto;
  /* С†РµРЅС‚СЂРёСЂРѕРІР°РЅРёРµ Р±Р»РѕРєР° РЅР° РІРµР±-СЃС‚СЂР°РЅРёС†Рµ*/
  transition: all 500ms ease;
}


.wrapper2 a:hover {

  cursor: pointer;
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */
  transform: scale(1.1);
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */
}

.lower-info {

  width: 100%;
  margin-left: 160px;
  margin-top: 150px;
  margin-bottom: 80px;
}

.lower-info h1 {

  margin-bottom: 30px;
  font-size: 30px;
}

.lower-info p {

  width: 600px;
  font-size: 16px;
  line-height: 1.7;
}

.lower-container {

  background: #1C140F;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 3%;
  margin-left: 150px;
  max-width: 100%;
}


.lower-text p {

  width: 500px;
  margin-top: 20px;
  line-height: 1.7;
}

.lower-container .email-container input {

  width: 395px;
  border: 0;
  outline: none;
  border-radius: 15px;
  background: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 20px 140px 20px 30px;
  /* РІРµСЂС… 20px, СЃРїСЂР°РІР° 10px, РЅРёР· 20px, СЃР»РµРІР° 30px */
  color: 898989;
  position: relative;
  /* РїРµСЂРµРЅРѕСЃРёРј РѕРєРЅРѕ РїРѕРґ РєРЅРѕРїРєСѓ */
  right: -130px;
  /* РїРµСЂРµРЅРѕСЃРёРј РѕРєРЅРѕ РїРѕРґ РєРЅРѕРїРєСѓ */
  z-index: 1;

}

.lower-container .email-container input::placeholder {

  color: #898989;
}


.lower-container .email-container button {

  width: 120px;
  height: 40px;
  color: #FFFFFF;
  font-size: 16px;
  background: linear-gradient(180deg, rgba(250, 131, 5, 1) 0%, rgba(251, 158, 60, 1) 100%);
  border-radius: 15px;
  padding: 15px auto;
  border: 0;
  transition: all 500ms ease;
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */
  position: relative;
  left: -5px;
  z-index: 2;

}


/* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */

.lower-container .email-container button:hover {

  cursor: pointer;
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */
  transform: scale(1.1);
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */

}


/*---------------------------------------------------   About-us page   ---------------------------------------------------------------------------------------------*/

.wrapper123 {

  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);
  /* РіСЂР°РґРёРµРЅС‚ */
  width: 100%;
  padding-bottom: 50px;

}


.evil-container {

  padding-bottom: 450px;

}

.evil-container .evil-info .evil-upper {

  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.evil-container .evil-info .evil-upper p {

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #FFFFFF;
}

.evil-container .evil-info .evil-upper a {

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #E47500;
}

.evil-container .evil-info h2 {

  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 170%;
  max-width: 450px;
  width: 100%;
  color: #FFFFFF;
  margin-bottom: 30px;


}

.evil-container .evil-info>p {

  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 170%;
  max-width: 430px;
  width: 100%;
  color: #FFFFFF;
  margin-bottom: 40px;
}


.evil-container .evil-info .btn {

  width: 195px;
  height: 53px;
  color: #FFFFFF;
  font-size: 16px;
  background: linear-gradient(180deg, rgba(250, 131, 5, 1) 0%, rgba(251, 158, 60, 1) 100%);
  border-radius: 30px;
  padding: 15px auto;
  border: 0;
  transition: all 500ms ease;
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */


}


/* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */

.evil-container .evil-info .btn:hover {

  cursor: pointer;
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */
  transform: scale(1.1);
  /* РїР»Р°РІРЅРѕРµ СѓРІРµР»РёС‡РµРЅРёРµ РєРѕРЅРїРєРё */

}

.evil-container>img {

  position: absolute;
  top: 150px;
  right: 0;

}

.evil-container2 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 200px 10px;
  box-sizing: border-box;
}

.evil-container2 .evil-title {

  padding-left: 50px;
}



.evil-container2 .evil-wall {
  display: flex;
  gap: 20px;
  /* СЂР°СЃСЃС‚РѕСЏРЅРёРµ РјРµР¶РґСѓ Р±Р»РѕРєР°РјРё */
  justify-content: space-between;
  /* РІС‹СЂР°РІРЅРёРІР°РЅРёРµ РїРѕ С†РµРЅС‚СЂСѓ */
  border-radius: 20px;
  flex-wrap: wrap;
  padding-top: 50px;

}

.evil-container2 .evil-block {
  background: #2a1f17;
  /* РїСЂРёРјРµСЂ С†РІРµС‚Р° С„РѕРЅР° Р±Р»РѕРєР° */
  border-radius: 15px;
  padding: 40px 35px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  /* СЌР»РµРјРµРЅС‚С‹ РёРґСѓС‚ СЃРІРµСЂС…Сѓ РІРЅРёР· */
  align-items: flex-start;
  /* РІСЃС‘ РїРѕ С†РµРЅС‚СЂСѓ РїРѕ РіРѕСЂРёР·РѕРЅС‚Р°Р»Рё */
  text-align: center;

}

.evil-container2 .evil-block .First {

  background: #1E003C;
  border-radius: 15px;
  padding: 10px;
  width: 140px;
  font-size: 14px;
  font-weight: 100;

}

.evil-container2 .evil-block .Second {

  background: #A0522D;
  border-radius: 15px;
  padding: 10px;
  width: 140px;
  font-size: 14px;
  font-weight: 100;

}

.evil-container2 .evil-block .Third {

  background: #003200;
  border-radius: 15px;
  padding: 10px;
  width: 140px;
  font-size: 14px;
  font-weight: 100;

}

.evil-container2 .evil-block>h3 {

  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  padding: 30px 0;


}

.evil-container2 .evil-block p {

  font-size: 14px;
  font-weight: 100;
  max-width: 304px;
  margin: 0;
  /* СѓР±РёСЂР°РµС‚ РѕС‚СЃС‚СѓРїС‹ */
  line-height: 1.8;
  /* РґРµР»Р°РµС‚ СЃС‚СЂРѕРєРё СЂРѕРІРЅРµРµ */
  text-align: left;
  /* РІС‹СЂР°РІРЅРёРІР°РЅРёРµ РїРѕ Р»РµРІРѕРјСѓ РєСЂР°СЋ */


}


.evil-image {

  background: #2a1f17;

  padding-top: 100px;
  margin-bottom: 200px;

}

.evil-image ._container {
  display: flex;
  justify-content: space-between;
}


.evil-image .image-info {

  max-width: 536px;
  width: 100%;
  padding-top: 50px;

}

.evil-image .image-info p {

  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Regular', sans-serif;
  line-height: 202.5%;


}


.evil-image .image-info h1 {

  max-width: 531px;
  width: 100%;
  margin-bottom: 30px;

}

.kind-box {

  padding-left: 100px;
}

.kind-box h2 {

  margin-bottom: 100px;
}


.kind-box .evil-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 28px;
  /* СЌР»РµРјРµРЅС‚С‹ РІРЅСѓС‚СЂРё РёРґСѓС‚ СЃРІРµСЂС…Сѓ РІРЅРёР· */
  align-items: center;
  /* С†РµРЅС‚СЂРёСЂРѕРІР°РЅРёРµ РІРЅСѓС‚СЂРё Р±Р»РѕРєР° */
  text-align: center;
  /* С†РµРЅС‚СЂРёСЂРѕРІР°РЅРёРµ С‚РµРєСЃС‚Р° */
  padding-right: 100px;
}

.about-us__contact {
  background-color: inherit !important;
}


/*----------------------------------------------------  Footer  ------------------------------------------------------------------------------------------------------*/
footer {

  background: #070707;
  padding: 50px 0;

}

.foot-container {

  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  margin-bottom: 50px;
}

.foot-container p {

  width: 350px;
  line-height: 1.7;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 30px;
}

.foot-container .about h4 {

  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: medium;
  margin-bottom: 30px;

}

ul {
  list-style: none;
  /* СѓР±РёСЂР°РµС‚ РјР°СЂРєРµСЂС‹ (С‚РѕС‡РєРё) */
  padding: 0;
  /* СѓР±РёСЂР°РµС‚ РѕС‚СЃС‚СѓРї СЃР»РµРІР°, РєРѕС‚РѕСЂС‹Р№ РѕР±С‹С‡РЅРѕ РµСЃС‚СЊ */
  margin: 0;
  /* РѕР±РЅСѓР»СЏРµС‚ РІРЅРµС€РЅРёР№ РѕС‚СЃС‚СѓРї */
}

ul li {
  margin-bottom: 10px;
  /* СЂР°СЃСЃС‚РѕСЏРЅРёРµ РјРµР¶РґСѓ СЌР»РµРјРµРЅС‚Р°РјРё СЃРІРµСЂС…Сѓ РІРЅРёР· */
}

footer hr {

  background-color: #D2D2D2;
  border: 0;
  height: 0.6px;


}

/* РїСЂСЏРјРѕР№ РїРѕС‚РѕРјРѕРє */
footer>p {

  text-align: center;
  margin: 50px auto;

}


/* ======================================================================================================== */
/* PORTFOLIO */
/* ======================================================================================================== */


.header__container {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
}

.btn {
  display: block;
}

/* hero */

.platform-hero {
  background-color: #000000;
  padding-bottom: 182px;
}

.hero__up {
  padding-top: 114px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 132px;
}

.hero__title {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 208.5%;
  margin-bottom: 15px;
}

.hero__title-wh {
  margin-right: 15px;
}

.hero__title-org {
  color: #E47500;
}

.hero__text {
  color: #FFFFFF;
  text-align: center;
  font-size: 33px;
  font-weight: 600;
  line-height: 180%;
  margin-bottom: 13px;
}

.hero__subtitle {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 187.5%;
  margin-bottom: 45px;
}

.hero__info {
  background-color: #1C140F;
  display: inline-flex;
  max-width: 1140px;
  width: 100%;
  justify-content: center;
  border-radius: 15px;
}

.hero__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 65px 0;
  position: relative;
}

.hero__item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 125px;
  background-color: #EEEFF2;
  right: 0;
  border-radius: 2px;
}

.hero__item:last-child::after {
  display: none;
}

.hero__item-icon {
  padding: 15.5px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 36px;
}

.hero__item-text span {
  display: block;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 5px;
  line-height: 30px;

}

.platform-hero__content {
  max-width: 428px;
  width: 100%;
}

.platform-hero__down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.platform-hero__video {
  max-width: 669px;
  width: 100%;
}

.platform-hero__title-down {
  font-weight: 700;
  font-size: 30px;
  line-height: 180%;
  margin-bottom: 12px;
}

.platform-hero__text-down {
  font-weight: 400;
  font-size: 14px;
  line-height: 187%;
  margin-bottom: 28px;
}

.platform-hero__list-item {
  display: flex;
  margin-bottom: 19px;
}

.platform-hero__list-item:last-child {
  margin-bottom: 0;
}

.platform-hero__icon {
  margin-right: 10px;
}

.platform-hero__list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 187%;
}

/* content */

.platform-content {
  background-color: #000;
  padding-bottom: 168px;
}

.platform-content__top {
  padding-bottom: 189px;
}

.platform-content__section {
  display: flex;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  gap: 138px;
  align-items: center;
}

.platform-content__title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 43px;
}

.platform-content__text {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 46px;
}

.platform-content__subtext {
  display: block;
  margin-top: 54px;
}

.platform-content__btn {
  display: inline-block;
  color: #FFFFFF;
  padding: 13px 45px;
  background-color: #DC7000;
  transition: opacity 0.5s ease;
}

.platform-content__btn:hover {
  opacity: 0.5;
}

.platform-content__mid {
  flex-direction: row-reverse;
  padding-bottom: 183px;
}


/* review */

.platform-review {
  background-color: #1C140F;
  padding: 88px 0 60px 0;
}

.platform-review__title {
  font-weight: 500;
  line-height: 50px;
  font-size: 35px;
  max-width: 448px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.platform-review__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 187%;
  max-width: 555px;
  margin: 0 auto 68px auto;
  text-align: center;
}


.platform-review__slider {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.platform-review__list {
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 60px;
  /* gap: 40px; */
}


.platform-review__item {
  /* max-width: 400px;
  width: 100% !important; */

  border-radius: 10px;
  border: 2px solid #DDDDDD;
  transition: border 0.3s ease;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.platform-review__item:hover {
  border: 2px solid #DC7000;
  background-color: #0F0901;
}

.platform-review__link {
  display: block;
  color: #FFFFFF;
  padding: 30px;
}


.platform-review__customer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.platform-review__person {
  display: flex;
  justify-content: space-between;
}

.platform-review__icon {
  margin-right: 21px;
}

.platform-review__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.platform-review__loc {
  font-weight: 400;
  font-size: 14px;
  color: #4F5665;
}

.platform-review__rate {
  display: flex;
  align-items: center;
}

.platform-review__num {
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.platform-review__rate-icon {
  width: 16px;
  height: 16px;
}

.platform-review__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 187%;
}

.platform-review__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.platform-review__pag {
  display: block;
  position: relative;
  width: auto !important;
  top: 0 !important;
  bottom: 0 !important;
}

.platform-review__nav {
  display: flex;
}

.platform-review__prev {
  position: relative;
  margin-right: 20px;
  padding: 20px;
  border: 2px solid #DC7000;
  border-radius: 50%;
}

.platform-review__next {
  position: relative;
  padding: 20px;
  border: 2px solid #DC7000;
  border-radius: 50%;
}


.swiper-pagination-bullet-active {
  width: 45px !important;
  height: 15px !important;
  background-color: #DC7000 !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: #DDE0E4;
  opacity: 1;
}

.swiper-button-prev {
  background-image: url(img/plarform-arrow2.png);
  background-position: center;
  width: 20px;
  height: 17px;
  margin-top: 0;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
}

.swiper-button-prev:after {
  content: "";
  display: none;
}

.swiper-button-next {
  background-image: url(img/plarform-arrow1.png);
  background-position: center;

  width: 20px;
  height: 17px;
  margin-top: 0;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
}


.swiper-button-next:after {
  content: "";
  display: none;
}

.swiper-button-prev:hover {
  background-color: #DC7000;
  background-image: url(img/plarform-arrow2-hov.png);
}

.swiper-button-next:hover {
  background-color: #DC7000;
  background-image: url(img/plarform-arrow1-hov.png);
}

/* contact */

.platform-contact {
  padding: 127px 0 144px 0;
  background-color: #0F0901;
}

.platform-contact__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.platform-contact__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 187%;
  margin-bottom: 32px;
}

.platform-contact__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  margin-bottom: 74px;
  max-width: 545px;
  width: 100%;
}

.platform-contact__form {
  background-color: #1B1B1B;
  padding: 40px 50px 42px 56px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.platform-contact__content-title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.platform-contact__content-text {
  font-weight: 400;
  font-size: 17px;
}

.platform-contact__send {
  background-color: #FFFFFF;
  padding: 6px 6px 6px 20px;
  border-radius: 8px;
  max-width: 385px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.platform-contact__input {
  padding-left: 13px;
  color: #000;
  width: 60%;
}

.platform-contact__btn {
  padding: 9px 15px;
  background-color: #DC7000;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

.platform-contact__btn:hover {
  background-color: #5c3103;
}

/* footer */

.platform-footer {
  background-color: #070707;
  padding: 73px 0 0 0;
}

.platform-footer a {
  color: #FFFFFF;
  transition: opacity 0.3s ease;

}

.platform-footer a:hover {
  opacity: 0.5;
}

.platform-footer__content {
  display: flex;
  padding-bottom: 53px;
}

.platform-footer__left {
  margin-right: 78px;
}

.platform-footer__logo {
  font-weight: 800;
  font-size: 24px;
  line-height: 153%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.platform-footer__text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 25px;
  max-width: 372px;
  width: 100%;
}

.platform-footer__about {
  margin-right: 133px;
}

.platform-footer__title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 15px;
}

.platform-footer__item {
  margin-bottom: 8px;
}

.platform-footer__item:last-child {
  margin-bottom: 0;
}

.platform-footer__item__link {
  font-weight: 400;
  font-size: 16px;
}

.platform-footer__contact {
  margin-right: 83px;
}

.platform-footer__contact-text {
  max-width: 282px;
  width: 100%;
}

.platform-footer__links {
  display: flex;
  justify-content: space-between;
  max-width: 184px;
  width: 100%;
  align-items: flex-end;
}

.platform-footer__link {
  padding: 5px 11px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.platform-footer__copyr {
  font-weight: 400;
  font-size: 13px;
  padding: 29px 0;
  text-align: center;
  border-top: 2px solid #FFFFFF;
  opacity: 0.8;
}


/* ======================================================================================================== */
/* NEWS */
/* ======================================================================================================== */

.news__main {
  background: linear-gradient(#050301, #150C01);
}

.news-hero {
  padding-bottom: 103px;
}

.news-hero__up {
  margin-bottom: 74px;
}

.news-hero__subtitle {
  margin-bottom: 0;
}

.news-hero__form {
  background-color: #1C140F;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.news-hero__btn {
  display: inline-flex;
  align-items: center;
  margin-right: 19px;
}

.news-hero__input {
  width: 100%;
}

.news-hero__input::placeholder {
  color: #FFFFFF;
  font-weight: 400;
}

.news-info__container {
  max-width: 1268px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.news-info {
  padding-bottom: 73px;
}


.news-info__left {
  max-width: 590px;
  width: 100%;
}

.news-info__content1 {
  padding-bottom: 90px;
  border-bottom: 1px solid #A5A5A5;
  margin-bottom: 90px;
}

.news-info__img {
  margin-bottom: 21px;

}

.news-info__enter {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.news-info__btn {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding: 9px 28px 9px 32px;
  background-color: #2351F5;
  margin-right: 19px;
  transition: opacity 0.5s ease;
}

.news-info__btn:hover {
  opacity: 0.5;
}

.news-info__dur {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
}

.news-info__title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 32px;
}

.news-info__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 207%;
}

.news-info__text span {
  margin-top: 44px;
  display: block;
}

.news-info__right {
  max-width: 585px;
  width: 100%;
}

.news-info__item {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  justify-content: space-between;
}

.news-info__item:last-child {
  margin-bottom: 0;
}

.news-info__item-img {
  margin-right: 31px;
}

.news-info__item-enter {
  margin-bottom: 23px;
  display: flex;
  align-items: center;
}


.news-info__item-btn {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding: 7px 26px;
  background-color: #2351F5;
  margin-right: 16px;
  transition: opacity 0.5s ease;
}

.news-info__item-btn:hover {
  opacity: 0.5;
}



.news-info__item-btn-blue-pink {
  background-color: #FF8484;
}

.news-info__item-btn-orange {
  background-color: #FF7C32;
}

.news-info__item-btn-green {
  background-color: #23A54F;
}

.news-info__item-btn-violet {
  background-color: #9921C3;
}

.news-info__item-dur {
  font-weight: 400;
  font-size: 14px;
  line-height: 187%;
}

.news-info__item-text {
  font-weight: 500;
  font-size: 23px;
}

/* ======================================================================================================== */
/* CONTACT US */
/* ======================================================================================================== */

.contact-hero {
  background: linear-gradient(#050301, #150C01);
  padding-bottom: 147px;
}

.contact-hero__up {
  margin-bottom: 93px;
}


.contact-hero__img {
  text-align: center;
  margin-bottom: 62px;
}

.contact-hero__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1188px;
  width: 100%;
  margin: 0 auto;
}

.contact-hero__soc {
  max-width: 282px;
  width: 100%;
  position: relative;
}


.contact-hero__soc::after {
  content: "";
  position: absolute;
  height: 102px;
  width: 0.5px;
  background-color: #FFFFFF;
  right: 0;
  top: -10px;
}

.contact-hero__soc-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  margin-bottom: 18px;
}

.contact-hero__list {
  display: flex;
  max-width: 184px;
  width: 100%;
  justify-content: space-between;
}


.contact-hero__link {
  padding: 5px 11px;
  border-radius: 50%;
  background-color: #1C140F;
}


.contact-hero__call {
  max-width: 221px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 109px;
  position: relative;
}

.contact-hero__call::after {
  content: "";
  position: absolute;
  height: 102px;
  width: 1px;
  background-color: #FFFFFF;
  right: 0;
}

.contact-hero__call-img {
  height: 30px;
  width: 30px;
}

.contact-hero__num {
  font-weight: 300;
  font-size: 20px;
}

.contact-hero__loc {
  display: flex;
  justify-content: space-between;
  max-width: 370px;
  width: 100%;
}

.contact-hero__loc-img {
  height: 28px;
  width: 29px;
}

.contact-hero__loc-text {
  font-weight: 300;
  font-size: 20px;
  max-width: 322px;
  width: 100%;
}

.contact-feedback {
  padding: 54px 0 63px 0;
  background-color: #1C140F;
  position: relative;
}

.contact-feedback::after {
  content: url(img/feedback-dec1.png);
  position: absolute;
  right: 0;
  top: 0;
}

.contact-feedback::before {
  content: url(img/feedback-dec2.png);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.contact-feedback__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 189%;
  text-align: center;
}

.contact-feedback__subtitle {
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  margin-bottom: 79px;
}

.contact-feedback__form {
  max-width: 671px;
  width: 100%;
  margin: 0 auto;
}

.contact-feedback__fullName {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contact-feedback__label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #4F4F4F;
  line-height: 175%;
}

.contact-feedback__first-name,
.contact-feedback__last-name {
  max-width: 322px;
  width: 100%;
}

.contact-feedback__input {
  background-color: rgba(255, 255, 255, 0.07);
  width: 100%;
  border: solid 1px #CECECE;
  border-radius: 9px;
  height: 56px;
}

.contact-feedback__email {
  margin-bottom: 20px;
}

.contact-feedback__message-input {
  height: 232px;
}

.contact-feedback__message {
  margin-bottom: 51px;
}

.contact-feedback__btn {
  padding: 10px 48px;
  background-color: #DC7000;
  border-radius: 10px;
  display: block;
  margin-left: auto;
}

/* ============================================================================== */
/* пїЅпїЅпїЅпїЅпїЅпїЅпїЅ */
/* ============================================================================== */

@media (max-width: 800px) {
  .hero__text {
    font-size: 24px;
  }

  .hero__subtitle {
    font-size: 15px;
  }

  .hero__up {
    margin-bottom: 40px;
    padding-top: 20px;
  }

  .platform-hero__title-down {
    font-size: 20px;
  }

  .platform-hero__text-down {
    font-size: 12px;
  }

  .platform-hero__list-item {
    justify-content: center;
    margin-bottom: 10px;
  }

  .platform-hero {
    padding-bottom: 40px;
  }

  .platform-content__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .platform-content__text {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .platform-content__text span {
    margin-top: 10px;
  }

  .platform-content__section {
    gap: 20px !important;
  }

  .platform-content__btn {
    font-size: 10px;
    padding: 10px 25px;
  }


  .platform-content__section {
    padding-bottom: 40px;
  }

  .platform-content__section:last-child {
    padding-bottom: 0;
  }

  .platform-content {
    padding-bottom: 40px;
  }

  .platform-review {
    padding: 20px 0 20px 0;
  }

  .platform-review__title {
    font-size: 20px;
    margin: 0 auto 10px auto;
  }

  .platform-review__subtitle {
    font-size: 12px;
    margin: 0 auto 20px auto;
  }

  .platform-review__name {
    font-size: 15px;

  }

  .platform-review__loc {
    font-size: 12px;
  }

  .platform-review__text {
    font-size: 12px;
  }

  .platform-review__pag {
    display: none;
  }

  .platform-review__list {
    margin-bottom: 20px;
  }

  .platform-contact {
    padding: 40px 0;
  }

  .platform-contact__container {
    text-align: center;
  }

  .platform-contact__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .platform-contact__text {
    font-size: 12px;
    margin: 0 auto 20px auto;
  }

  .platform-contact__form {
    flex-direction: column;
  }

  .platform-contact__content-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .platform-contact__content-text {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
  }

  .platform-contact__form {
    border-radius: 0;
    padding: 10px 20px;
  }

  .platform-contact__input::placeholder {
    font-size: 12px;
  }

  .platform-footer {
    padding-top: 20px;
  }

  .platform-footer__content {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .platform-footer__left {
    display: none;

  }

  .platform-footer__contact {
    display: none;
  }

  .platform-footer__about {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }

  .hero-info h2 {
    font-size: 16px;
  }

  .hero-info h1 {
    font-size: 24px;
  }

  .hero-info p {
    margin: 20px;
  }

  .hero-info .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .hero-info {
    height: 300px;
    padding-top: 20px;
  }

  .container-tranding .see-all {
    font-size: 15px;
  }

  .container-tranding h3 {
    font-size: 24px;
  }

  .container-text {
    padding: 20px 0;
    font-size: 24px;
  }

  .banner h3 {
    font-size: 20px;
    margin-top: 20px;

  }

  .banner img {
    margin-bottom: 40px;
  }

  .features-container h1 {

    font-size: 24px;
    margin-bottom: 20px;
  }

  .features-container p {
    margin-bottom: 20px;
    font-size: 16px;
  }


  .features .images-container .block {
    max-width: 350px;
    width: 100%;
  }

  .images-block2 {
    display: none;
  }

  .evil-container .evil-info .evil-upper {
    margin-bottom: 20px;
  }

  .evil-container .evil-info h2 {
    font-size: 24px;
  }

  .evil-container {
    padding-bottom: 70px !important;
  }

  .evil-image__img {
    padding: 0 50px !important;
  }

  .evil-container2 {
    padding: 0 10px 40px 10px;
  }

  .evil-image .image-info h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .evil-image {
    padding-top: 40px;
    margin-bottom: 40px;
  }

}

@media (max-width: 650px) {
  .hero__info {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }

  .hero__item::after {
    display: none;

  }

  .hero__item {
    background-color: #1C140F;
    width: 85%;
    border-radius: 10px;
  }

  .news-hero {
    padding-bottom: 40px;
  }

  .news-info__container {
    flex-direction: column;
  }

  .news-info__btn {
    font-size: 12px;
  }

  .news-info__dur {
    font-size: 12px;
  }



  .news-info__enter {
    margin-bottom: 10px;
  }

  .news-info__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .news-info__text {
    font-size: 12px;
    line-height: 150%;
  }

  .news-info__text span {
    margin-top: 10px;
  }

  .news-info__content1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .news-info__left {
    margin-bottom: 40px;
  }

  .news-info__item-btn {
    font-size: 12px;
    margin-right: 10px;
    padding: 10px 15px;
  }

  .news-info__item-dur {
    font-size: 12px;
  }

  .news-info__item-enter {
    margin-bottom: 15px;
  }

  .news-info__item-text {
    font-size: 17px;
  }

  .news-info {
    padding-bottom: 40px;
  }

  .contact-hero {
    padding-bottom: 40px;
  }

  .contact-hero__num,
  .contact-hero__loc-text {
    font-size: 14px;
  }

  .contact-feedback__title {
    font-size: 20px;
  }

  .contact-feedback__subtitle {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .contact-feedback__fullName {
    flex-direction: column;
  }

  .contact-feedback::before,
  .contact-feedback::after {
    display: none;
  }

  .news-info__item {
    flex-direction: column;
  }

  .news-info__item-img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .news-info__item-enter {
    justify-content: center;
  }

  .news-hero__form {
    box-sizing: border-box;
  }

  .news-info__item-text {
    text-align: center;
  }
}


@media (max-width: 1170px) {
  .platform-hero__down {
    flex-direction: column;
  }

  .platform-hero__video {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .platform-hero__content {
    text-align: center;
  }

  .platform-content__section {
    flex-direction: column-reverse;
    gap: 60px;
  }

  .platform-content__caption {
    text-align: center;
  }

  .hero-container img {
    display: none;
  }

  .hero-info {
    text-align: center;
    margin: 0 auto;
  }

  .hero-info .btn {
    margin: 0 auto;
  }

  .games {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }

  .evil-container>img {
    display: none;
  }

  .evil-info {
    text-align: center;
  }

  .evil-container .evil-info .evil-upper {
    justify-content: center;
  }

  .evil-container .evil-info h2 {
    margin: 0 auto 20px auto;
  }

  .evil-container .evil-info>p {
    margin: 0 auto 20px auto;
  }

  .evil-container .evil-info .btn {
    margin: 0 auto;
  }

  .evil-container {
    padding-bottom: 100px;
  }

  .evil-container2 .evil-wall {
    justify-content: space-around;
  }

  .evil-image ._container {
    flex-direction: column;
  }

  .evil-image__img {
    padding: 0 150px;
  }

  .kind-box .evil-box {
    gap: 20px;
    justify-content: space-around;
  }
}

@media (max-width: 1300px) {

  .platform-contact__content {
    margin-right: 10px;
  }

  .news-info__container {
    flex-direction: column;
    gap: 40px;
  }


  .news-info__left {
    margin: 0 auto;
  }

  .news-info__right {
    margin: 0 auto;
  }

  .platform-review__slider {
    padding: 0 10px;


  }

  .contact-hero__info {
    gap: 40px;
    flex-direction: column;
  }

  .contact-hero__soc::after {
    display: none;

  }

  .contact-hero__soc {
    text-align: center;
  }

  .contact-hero__list {
    margin: 0 auto;
  }

  .contact-hero__call::after {
    display: none;
  }

  .contact-hero__call {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .contact-hero__loc {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .contact-hero__loc-text,
  .contact-hero__loc-img {
    margin: 0 auto;
  }


}


/* burger menu */

.open {
  display: flex !important;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 18px;
}



.burger span {
  height: 2px;
  width: 80%;
  background-color: #fff;
  transform: scale(1);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #FFFFFF;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 900px) {

  body.active {
    overflow: hidden !important;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger {
    display: flex;
  }

  .burger.active body {
    overflow: hidden;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 100px 40px;
    background-color: #000;
    animation: burgerAnimation 0.4s;
    box-sizing: border-box;
  }

  .header__list {
    flex-direction: column;
    row-gap: 30px;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}
